td,
table,
th {
    border: 1.6px black solid;
    border-collapse: collapse;
    padding: 15px;
}

body {
    font-family: sans-serif;
    font-size: 15px;
}

h1 {
    text-align: center;
    color: cornflowerblue;
    font-size: 50px;
}

h2 {
    margin-left: 40px;
    color: blue;
}